@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.hero, section {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
}

.hero h1, blockquote {
  font-family: 'Libre Baskerville', serif;
  color: white;
}

.legenda h6 {
  color: #74489D;
}

.hero .legenda {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.hero .legenda h6, blockquote strong {
  color: white;
}

.card h2 {
  font-family: 'Libre Baskerville', serif;
}

.is-primary {
  background-color: #74489D !important;
}

.table tr.is-selected {
  background-color: #74489D !important;
  color: #fff;
}

.notification.is-warning {
  background-color: #ffdd576b;
}

.hero .notification.is-warning {
  background-color: #74489D !important;
  color: #fff;
}

.is-primary .columns div {
  background-color: #74489de8;
  color: #fff;
  padding: 2em;
}

.notification.is-warning h3 {
  width: fit-content;
  background: #ff9400;
  padding: 10px;
  transform: rotate(-5deg);
  margin-top: -35px;
  color: white;
}

.mapa h3 {
  width: fit-content;
  background: #ff9400;
  padding: 10px;
  color: white;
  margin-bottom: 0;
  margin-top: 0 !important;
  transform: rotate(0) !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

textarea {
  background-image:
    -webkit-linear-gradient(left, transparent 10px, transparent 10px),
    -webkit-linear-gradient(right, transparent 10px, transparent 10px),
    -webkit-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
  background-image:
    -moz-linear-gradient(left, transparent 10px, transparent 10px),
    -moz-linear-gradient(right, transparent 10px, transparent 10px),
    -moz-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
  background-image:
    -ms-linear-gradient(left, transparent 10px, transparent 10px),
    -ms-linear-gradient(right, transparent 10px, transparent 10px),
    -ms-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
  background-image:
    -o-linear-gradient(left, transparent 10px, transparent 10px),
    -o-linear-gradient(right, transparent 10px, transparent 10px),
    -o-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
  background-image:
    linear-gradient(left, transparent 10px, transparent 10px),
    linear-gradient(right, transparent 10px, transparent 10px),
    linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 31px;
  font-family: Arial, Helvetica, Sans-serif;
  padding: 8px;
  margin: 15px 0 25px;
  background-color: white !important;
}

@media only screen and (min-width: 769px) {
  #cap1 {
    background-attachment: fixed;
  }
}